#announcement-bar-content {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#announcement-bar a {
  text-decoration: underline;
  color: white;
}
#announcement-bar-btn {
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
  margin-left: 20px;
  font-size: 1rem;
  &:hover, &:focus{
    outline: none;
    box-shadow: 0 0 0 3px #7a7a7a;
    background-color: #444444;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .announcement-bar-wrapper div {
    width: 100%;
    display: inline-block;
    height: auto;
    line-height: 30px;
  }
  #announcement-bar-btn {
    margin-top: 10px;
    margin-left: 0px;
    padding-top: 3px;
  }
  .announcement-bar-wrapper {
    padding: 10px;
  }
  #announcement-bar {
    line-height: 30px;
  }
}