{#
/**
 * @file
 * Theme implementation for announcementbar.
 *
 * Available variables:
 * - message: announcement message.
 * - button: button label.
 * - position: message position.
 * - background: announcement message background color.
 * - color: announcement message text color.
 */
#}

{% if position is not empty %}
  {% set style = 'position:fixed; ' ~ position ~':0px;' %}
{% endif %}
<!-- <div class="announcement-bar-wrapper" style="background-color: {{ background }}; {{ style }} : 0;"> -->
<div class="announcement-bar-wrapper-content" style="background-color: {{ background }};">
    <div id="announcement-bar-content" data-infobar="announcement-bar-content" style="color: {{ color }};" >{{ message }}
    <span class="announcement-bar-close"> <button style="background-color: {{ color }}; color: {{ background }};" id="announcement-bar-btn">{{ button|t }}</button> </span></div>
</div>